:root {
  --radius: 8px;
  --gray: #e3e5e8;
  --accent: #5856d6;
}

body {
  font-family: sans-serif;
  background: var(--gray);
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  min-height: 100dvh;
}

.panel {
  background: white;
  border-radius: var(--radius);
  padding: 1rem;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-row: span 2;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.sidebar li {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

/* Content */

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: span 3;
}

header,
article {
  grid-column: span 3;
}

/* Header */

header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.button {
  appearance: none;
  border: none;
  background: var(--accent);
  color: white;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: var(--radius);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  position: relative;
}

.avatar i {
  background: var(--gray);
  height: 2.5rem;
  width: 2.5rem;
  display: grid;
  place-content: center;
  border-radius: 1.25rem;
}

.avatar .indicator {
  position: absolute;
  top: -0.25rem;
  left: 1.5rem;
  background: #ff3b30;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.75rem;
  display: grid;
  place-items: center;
  font-size: 12px;
  color: white;
  /* font-family: monospace; */
  font-weight: bold;
}

/* Search */

.search-bar {
  display: flex;
  gap: 0.5rem;
  border: 1px solid var(--gray);
  width: max-content;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  border-radius: var(--radius);
  flex-grow: 1;
}

.search-bar input {
  appearance: none;
  height: 2rem;
  border: none;
  width: 100%;
}

.search-bar button {
  appearance: none;
  height: 2rem;
  width: 2rem;
  border: none;
  background: var(--gray);
  border-radius: var(--radius);
}
